@use "../../../sass/abstracts";

.clubs {
  .icon-location {
    display: none;
  }
}

.clubs-wrapper {
  display: flex;
  padding-bottom: 30px;
}

.sidebar-club {
  min-width: 300px;
  max-width: 300px;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

.search-club {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-bottom: 5px;
  color: #c7d8cd;
  font-weight: bold;
  background: rgb(55,170,89);
  background: linear-gradient(0deg, rgba(61, 223, 96, 0.185) 0%, rgb(20, 20, 20) 100%);
}

// CLUB-----------------------------
.current-club {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #333333b3;
  margin-bottom: 5px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;

  &_inactive {
    transform: translateX(-100%);
    margin-bottom: -13.2%;
    opacity: 0;
  }

  &:hover {
    .club-pic {
      margin-left: 5px;
    }
  }
}

.club-name {
  font-weight: bold;
  color: rgb(199, 216, 205);
  font-size: 1.4rem;
  border-radius: 5px;
  flex-basis: 100%;
  margin: 0 10px;
  padding-right: 35px;
  @extend %transition;
}

.club-pic {
  display: flex;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  @extend %transition;
}

.club-img {
  max-width: 100%;
  height: auto;
}

.club-remove {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  right: 0;
  width: 35px;
  font-size: 2rem;
  color: rgb(199, 216, 205);
  background: #333333b3;
  z-index: 1;
  outline: none;
  border: none;
  transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);

  &:hover {
    background: #424242;
  }
}
// -----------------------------