.failed-access {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin: 20px auto 0;

  #loader {
    position: relative;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border-top-color: #57c057;

    &:before {
      border-top-color: #57c057;
    }
    
    &:after {
      display: none;
    }
  }
}

.failed-access__content {
  display: inline-flex;
  margin-right: 45px;
  padding: 0 10px;
  font-size: 2.3rem;
  font-family: 'Roboto';
  font-weight: bold;
  color: rgb(199, 198, 198);
  background: linear-gradient(45deg, #57c057 40%, #08963f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}