@use "../../../../sass/abstracts";

.club-content {
  width: 100%;
  margin-left: 10px;
  position: relative;
  transition: all 0.5s ease;

  .section-primary {
    position: relative;
    padding: 20px 0;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    animation: transparency-animation 0.5s ease;
  }

  .team__name {
    font-size: 3rem;
  }

  .section-description {
    padding-top: 35px;
    border-radius: 5px;
    animation: transparency-animation 0.5s ease;
  }

  .team__pic {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    padding: 10px;
    margin-right: 10px;
    &:after {
      background: rgba(23, 24, 27, 0.1);
    }
  }

  .error {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  #loader {
    position: absolute;
    left: 50%;
    top: 0;
  }

  .breadcrumbs {
    width: 100%;
  }

  .team__info {
    border-radius: 2px;
  }
}