@use "../../../../sass/abstracts";

.club-content {
  width: 100%;
  margin: 0 15px;
  position: relative;
  transition: all 0.5s ease;

  .section-primary {
    position: relative;
    padding: 20px 0;
    height: auto;
    margin-bottom: 10px;
    border-radius: 2px;
    animation: transparency-animation 0.5s ease;
    box-shadow: 0 10px 10px #0e0e0e;
    background: #222222;
    background: linear-gradient(109.6deg, #0f1113 11.2%, #242325 71.1%, #0f1113 110%);
  }

  .team__name {
    font-size: 2.5rem;
    color: #aff0af;
    margin-left: 10px;
  }

  .section-description {
    border-radius: 2px;
    animation: transparency-animation 0.5s ease;
  }

  .team__pic {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    padding: 5px;
    &:after {
      background: rgba(23, 24, 27, 0.1);
    }
  }

  .error {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  #loader {
    position: absolute;
    left: 50%;
    top: 0;
  }

  .breadcrumbs {
    width: 100%;
    padding-left: 10px;
  }

  .team__info {
    border-radius: 2px;
  }

  .team__contacts {
    margin-right: 0;
  }
}