.matchday {
  display: flex;
  min-width: 700px;
  box-shadow: 0px 29px 25px -20px #30d47a80;
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 30px;
}

.matchday__bg {
  position: relative;
  background-image: url(../../../../../assets/images/matchday.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-basis: 45%;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
}

.matchday__wrap {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  color: rgb(231, 228, 228);
}

.matchday__date {
  font-size: 3.3rem;
  font-weight: bold;
  margin-bottom: 7px;
}

.matchday__teams {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.matchday__vs {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: bold;
  font-size: 2.7rem;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 7px rgba(152, 206, 154, 0.856) inset;
  margin: 10px 0;

  span {
    margin-top: -5px;
  }
}

.matchday__desc {
  padding: 5px 0 15px 0;
  text-align: center;
  flex-grow: 1;
  background: rgb(10, 15, 14);
}

.matchday__league {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.9rem;
  margin-bottom: 10px;
}

.matchday__row {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  margin: 0 10px 10px;
  font-size: 1.8rem;
  justify-content: space-between;
  background: rgb(4,24,9);
  background: linear-gradient(90deg, rgba(4,24,9,1) 0%, #0a5226 50%, rgba(4,24,9,1) 100%);
  padding: 5px 0;
  border-radius: 3px;

    span {
    margin: 0 10px;
    display: inline-flex;
    border: 1px solid #2e5f41;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    font-weight: bold;
  }


  &:last-child {
    margin-bottom: 0;
  }
}

.referees {
  margin: 0 10px 15px;
}

.referees__title {
  font-weight: bold;
  font-size: 1.9rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.referee {
  background: rgb(4,24,9);
  background: linear-gradient(45deg, rgba(4,24,9,0.7) 0%, #0a522669 50% 100%);
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  border-radius: 5px;

  &:last-child {
    margin-right: 0;
  }

  .no-flag {
    margin-right: 0;
    margin-left: 0;
  }
}

.referee__name {
  margin-right: 5px;
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
}

.matchday__buttons {
  display: flex;
  justify-content: flex-end;
  margin: 0px 10px 0;
}

.matchday__close {
  width: 70px;
  padding: 7px;
  background: rgb(4,24,9);
  background: linear-gradient(90deg, rgba(4,24,9,1) 0%, #0a5226 50%, rgba(4,24,9,1) 100%);
  outline: none;
  border:none;
  color: rgb(226, 224, 224);
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: bold;
  opacity: 0.5;
  transition: opacity 0.3s ease-out;

  &:hover {
    opacity: 1;
  }
}