html {
  font-size: 10px;
}

body {
  color: rgb(238, 236, 236);
  background: rgb(15, 15, 15);
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.89);
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 90px 20px 0;
}

.loading-bg {
  color: transparent;
  background: linear-gradient(100deg, rgba(41, 136, 77, 0.514) 20%, #bec6ce 50%, rgba(41, 136, 77, 0.514) 70%);
  background-size: 400%;
  animation: loading-bg 0.5s ease-in-out infinite;
}

@keyframes loading-bg {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}