@use "../../../sass/abstracts";

.team {
  padding-top: 60px;
  color: #d3cfcf;
  min-height: 100%;
  padding-left: 17px;
  background: url(../../../assets/images/teamBg.png) #17181b;
  background-repeat: no-repeat;
  background-position: bottom right;

  .icon-address {
    display: none;
  }

  .footer {
    margin-left: 0;
    width: 100%;
  }

  .table-title {
    width: 60%;
    font-family: 'Roboto';
    font-weight: normal;
  }
}

.team-container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.section-primary {
  width: 100%;
  height: 250px;
  padding-top: 20px;
  margin-bottom: 30px;
  background: linear-gradient(109.6deg, #2a2f338c 11.2%, #242325be 71.1%, #0f11138c 110%);
  box-shadow: 0px 7px 7px #0d0d0d;
}

.team__name {
  text-transform: uppercase;
  font-weight: bold;
  color: #aff0af;
  font-size: 4rem;
  margin-left: 20px;
  display: inline-flex;
  background: #242527;
  background-image: linear-gradient(225deg, #131413 50%, #292c2a 100%);
  padding: 5px 10px;
  border-radius: 2px;
  margin-bottom: 10px;
  box-shadow: 10px 10px 10px #0d0d0d;
}

.breadcrumbs {
  color: #c7d8cd;
  position: relative;
  width: 50%;
  font-size: 2rem;
  padding: 5px;
  margin-left: 20px;
}

.section-description {
  padding-bottom: 30px;
}

.team-container-flex {
  display: flex;
}

.team__pic {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #242527;
  background: linear-gradient(109.6deg, #0f1113 11.2%, #242325 71.1%, #0f1113 110%);
  padding: 20px;
  min-width: 300px;
  width: 40%;
  max-width: 350px;
  height: auto;
  border-radius: 2px;
  margin-right: 10px;
  overflow: hidden;
  box-shadow: 10px 10px 10px #0d0d0d;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 24, 27, 0.1);
  }
}

.team__img {
  width: 90%;
  background: rgba(255, 255, 255, 0.1);
  padding: 5px;
  height: 90%;
  border-radius: 5px;
  box-shadow: 0px 7px 7px #0a0a0a;
}

.team__info {
  width: 100%;
  display: flex;
}

.team__details, .team__contacts {
  background: #242527;
  width: 100%;
  border-radius: 2px;
  box-shadow: 10px 10px 10px #0d0d0d;
  font-family: 'Roboto';
  margin-right: 10px;
  background: linear-gradient(109.6deg, #0f11138c 11.2%, #242325be 71.1%, #0f11138c 110%);
  transition: all 0.3s ease;

  &:hover {
    background: linear-gradient(109.6deg, #0f1113 11.2%, #242325 71.1%, #0f1113 110%);
  }
}

.detail-list {
  padding: 10px;
  margin-top: 0;
  margin-bottom: 0;
  dt {
    color: rgb(168, 165, 165);
  }

   dd {
    margin-left: 0px;
    margin-bottom: 15px;
    font-size: 1.7rem;
    color: rgb(164, 170, 164);
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    padding-bottom: 7px;
    
    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
      padding-bottom: 0px;
    }
  }

  a {
    display: inline-block;
    @extend %transition;
    &:hover {
      color: rgb(167, 228, 167);
    }
  }
}

.detail-text {
  color: #a5aca5;
  display: inline-block;
}

.icon-setting {
  font-size: 1.8rem;
  margin-left: 10px;
  color: #6eac6e;
}

.icon-address {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  animation: puls-location 2s ease infinite;
}

.team-color {
  display: inline-flex;
  width: 40px;
  height: 15px;
  border-radius: 2px;
  margin-right: 5px;
  border: 1px solid rgb(57, 59, 57);

  &:last-child {
    margin-right: 0;
  }
}

.player-list {
  padding-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
}

.team-table {
  width: 60%;
  box-shadow: 0px 10px 10px #0d0d0d;
  font-family: 'Roboto';

  tr {
    width: 100%;
  }

  td {
    padding: 0;
  }
}


@keyframes puls-location {
  0% {
    box-shadow: 0 0 0 0 rgb(153 152 152 / 70%);
  }

  50% {
      box-shadow: 0 0 0 20px rgb(56 56 56 / 0%);
  }
  100% {
      box-shadow: 0 0 0 20px rgb(56 56 56 / 0%);
  }
}