@use "../../../sass/abstracts";

.team {
  padding-top: 80px;
  background: #17181b;
  color: #d3cfcf;
}

.team-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-primary {
  width: 100%;
  height: 250px;
  padding-top: 70px;
  margin-bottom: 50px;
  background: rgb(23,24,27);
  background: linear-gradient(0deg, rgba(23,24,27,1) 0%, rgba(32, 66, 38, 0.534) 50%, rgba(23,24,27,1) 100%);
}

.team__name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 5rem;
  display: inline-flex;
  padding: 5px;
  border-radius: 2px;
  margin-bottom: 10px;
}

.breadcrumbs {
  position: relative;
  width: 50%;
  font-size: 2rem;
  padding: 5px;
}

.section-description {
  background: #17181b;
  padding-bottom: 35px;
}

.team-container-flex {
  display: flex;
}

.team__pic {
  position: relative;
  padding: 0 50px;
  width: 40%;  
  max-width: 350px;
  height: auto;
  margin-right: 50px;
  overflow: hidden;
  border-right: 1px solid rgba(128, 128, 128, 0.2);

  &.loading-bg {
    border-right: none;
    width: 200px;
    height: 200px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 24, 27, 0.3);
  }
}

.team__img {
  max-width: 100%;

  &.loading-bg {
    outline: none;
  }
}

.team__info {
  width: 100%;
  display: flex;
}

.team__details, .team__contacts {
  background: #1e1e20;
  width: 100%;
}

.team__details {
  & .loading-bg {
    border: none;
  }
}

.detail-list {
  padding: 10px;
  margin-top: 0;
  margin-bottom: 0;

  &.loading-bg {
    height: 100%;
    border: none;
  }
  
  dt {
    color: rgb(168, 165, 165);
  }

   dd {
    margin-left: 0px;
    margin-bottom: 15px;
    font-size: 1.7rem;
    color: rgb(164, 170, 164);
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    padding-bottom: 7px;
    
    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
      padding-bottom: 0px;
    }
  }

  a {
    display: inline-block;
    @extend %transition;
    &:hover {
      color: rgb(167, 228, 167);
    }
  }
}

.detail-text {
  color: #a5aca5;
  font-weight: bold;
  display: inline-block;
  border-radius: 2px;
}

.icon-setting {
  font-size: 1.8rem;
  margin-left: 10px;
  color: #6eac6e;
}

.player-list {
  background: #17181b;
  padding-bottom: 80px;
  font-family: 'Montserrat', sans-serif;
}

.team-table {
  margin: 0 auto;
  width: 100%;

  tr {
    width: 100%;
  }

  td {
    padding: 0;
  }
}