.art {
  min-height: 150px;
}

.art__header {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 400px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  margin-bottom: 30px;
  box-shadow: 0 0 10px 10px #151616;

  .article__status {
    margin-left: 0;
  }
}

.art__title {
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  min-height: 50px;
  font-size: 2.7rem;
  box-shadow: 0 -6px 15px 10px rgba(0, 0, 0, 0.6);
}

.art__time {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.7rem;
  padding: 10px;
  font-weight: bold;
  border-radius: 0 0 5px 0;
  background: rgba(0, 0, 0, 0.65);
}

.art__status {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 50%;
}

.art__description {
  position: relative;
  background: #252525;
  padding: 10px;
  border-radius: 2px;
  color: #aaadad;
  line-height: 1.4;
  margin-bottom: 10px;
  white-space: pre-line;
  box-shadow: 0 0 10px 10px #151616;
}

.art__info {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  margin-top: 15px;
}

.art__info-photo {
  
}

.art__info-photo, .art__info-author {
  position: relative;
  margin: 0 10px;
  color: rgb(224, 224, 224);
  bottom: 5px;
  padding: 3px 10px;
  font-family: 'Roboto';
  border: 1px solid rgb(83, 83, 83);

  span {
    margin-left: 5px;
  }
}