.tournaments {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.tournaments__error {
  text-align: center;
  padding: 7px 0;
  background: rgba(180, 21, 21, 0.37);
  background: linear-gradient(135deg, #3d2529c0 40%, #8b2929c5 100%);
  box-shadow: 0 0 px 10px #0a0a0a;
  font-weight: bold;
  margin-bottom: 10px;
  animation: tournaments__error-anim 0.4s ease-in-out;
  transition: height 0.7s ease-in-out;
}

.tournaments__loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.7);
  animation: transparency-animation 0.5s ease;
  z-index: 3;

  .universal-loader {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.tournaments__title {
  text-align: center;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.7rem;
}

.tournament {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: rgba(75, 74, 74, 0.6);
  font-family: 'Montserrat';
  cursor: pointer;
  margin-bottom: 2px;
  padding: 5px 0;
  background: linear-gradient(135deg, rgb(28, 29, 29) 20%, rgba(51, 51, 51, 1) 100%);
  box-shadow: 0 10px 10px #0a0a0a;
  transition: all 0.3s ease;
  will-change: transform;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 10px #0e0d0d;
    z-index: 1;

  }

  &:last-child {
    margin-bottom: 0;
  }
}

.tournament__name {
  min-width: 170px;
  font-size: 1.5rem;
  font-family: 'Poppins';
}

.tournament__pic {
  width: 35px;
  height: 35px;
  overflow: hidden;
}

.tournament__img {
  max-width: 100%;
  height: auto;
}


@keyframes tournaments__error-anim {
  0% {
    transform: translateY(-33px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}