.tournament-standings {
  position: relative;
  margin-top: -493px;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 493px;
  background: #0f0f0f;
  animation: transparency-animation 0.5s ease-in-out;
  box-shadow: 0 5px 5px #0a0a0a;

  &_inactive {
    animation: standings-anim-end 0.5s ease-in-out;
  }
}

.standings {
  position: relative;
}

.standings__close {
  position: absolute;
  left: 10px;
  top: 3px;
  font-size: 2rem;
  cursor: pointer;
}

.standings__title {
  padding-top: 3px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.4rem;
}


.standings__table, .standings__head, .standings__body {
  width: 100%;
  --td-border: rgb(41, 40, 40);
}

.standings__tr {
  border-bottom: 1px solid var(--td-border);

  &:last-child {
    border-bottom: none;
  }
}

.standings__th {
  padding: 5px;
  font-size: 1.4rem;
}

.standings__th_team {
  text-align: left;
  padding-left: 5px;
}

.standings__td {
  text-align: center;
  padding: 5px;
}

.standings__td_pos {
  background: rgb(37, 37, 37);
  color: #6a9c7b;
  font-weight: bold;
}

.standings__td_team {
  text-align: left;
  padding-left: 5px;
  background: rgb(31, 28, 28);
  width: 100%;
} 

.standings__td_points {
  background: rgb(37, 37, 37);
  font-weight: bold;
}

.standings__td-link {
  display: flex;
  width: 100%;
  align-items: center;
  &:hover {
    text-decoration: underline;
  }
}

.standigns__td-pic {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5px;
  box-shadow: 0px 5px 5px #0d0d0d;

  &:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
  }
}

.standigs__td-img {
  max-width: 100%;
  height: auto;
}



@keyframes standings-anim-end {
  0% {
    margin-left: 0;
    opacity: 1;
  }
  100%{
    margin-left: -100%;
    opacity: 0;
  }
}