@import "../../../index.scss";


.players  {
  position: absolute;
  top: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: all 0.7s ease-in-out;

  & >* {
    flex-basis: 50%;

    @include big-desktop {
      flex-basis: 22%;
    }
  }

  &_visible {
    opacity: 1;
  }
}

.player {
  &:nth-child(1) {
    text-align: left;
  }
  
  &:nth-child(2) {
    text-align: right;
  }
}

.player img {
  max-width: 100%;
  height: auto;
}