@import "../../../index.scss";


.players  {
  position: absolute;
  top: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: background 0.7s ease-in-out;
  background: none;
  height: calc(100vh - 80px);

  & >* {
    flex-basis: 50%;

    @include big-desktop {
      flex-basis: 22%;
    }

    & .player img {
      opacity: 1;
    }
  }

  &_inactive {
    background: rgba(0, 0, 0, 0.7);

    & .player img {
      opacity: 0;
      height: 0;
    }
  }
}

.player {
  &:nth-child(1) {
    text-align: left;
  }
  
  &:nth-child(2) {
    text-align: right;
  }
}

.player img {
  max-width: 100%;
  height: auto;
  @extend %transition;
}