.admin-section {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto 30px;
  padding-left: 17px;

  .art {
    min-height: 100%;
    width: 100%;
  }
}

.articles-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &:after {
    content: '';
    width: 33%;
    display: flex;
  }
}