.league-designations {
  background: #222323af;
  color: #adadad;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.designations-text {
  margin-bottom: 2px;
  background: linear-gradient(-45deg, rgba(31,77,58,0.5) 18%, rgb(18, 19, 19) 52%);
  & span {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    background: rgb(19, 18, 18);
    width: 40px;
    border: 1px solid rgb(44, 43, 43);
    border-radius: 2px;
  }
}