@-webkit-keyframes animate-circle {
  from {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
  }
  to {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0;
  }
}

@keyframes animate-circle {
  from {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
  }
  to {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0;
  }
}

.loader {
  --size: 150px;
  z-index: 5;
  
  position: fixed;
  top: 50%;
  left: 50%;
  height: var(--size);
  width: var(--size);
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);

  &_purple .circle {
		background: #845ad891;
	}

	&_red .circle {
		background: #911e229c;
	}

	&_blue .circle {
		background: #006a9462;
	}

	&_multi .circle {
		&:nth-child(1) {
			background: #17dfdf4d;
		}

		&:nth-child(2) {
			background: #cfeba262;
		}

		&:nth-child(3) {
			background: #67df1770;
		}
	}

	&_grey .circle {
		background: rgba(105, 98, 98, 0.4);
	}

	&_bchb .circle {
		&:nth-child(1) {
			background: rgba(255, 255, 255, 0.466);
		}

		&:nth-child(2) {
			background: rgba(148, 38, 38, 0.397);
		}

		&:nth-child(3) {
			background: rgba(255, 255, 255, 0.466);
		}
	}

	&_d-blue .circle {
		background: #002044bb;
	}

	&_yellow .circle{
		background: rgba(255, 255, 0, 0.308);
	}
}

.circle {
  --duration: 1.5s;
  position: absolute;
  height: inherit;
  width: inherit;
  background: #31915c;
  border-radius: 50%;
  -webkit-animation: animate-circle var(--duration) cubic-bezier(.9,.24,.62,.79) infinite;
          animation: animate-circle var(--duration) cubic-bezier(.9,.24,.62,.79) infinite;
}



.circle:nth-of-type(1) {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.circle:nth-of-type(2) {
  -webkit-animation-delay: calc(var(--duration) / -3);
          animation-delay: calc(var(--duration) / -3);
}

.circle:nth-of-type(3) {
  -webkit-animation-delay: calc(var(--duration) / -6);
          animation-delay: calc(var(--duration) / -6);
}
