@use "../../../sass/abstracts/" as *;

.errorModal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 60px;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(8, 8, 8, 1);
  background-image: url(../../../assets/images/webbg.png);
  z-index: 10;
  animation: error-modal-anim 0.3s ease-in-out;

  &_temp {
    animation: error-modal-temp 0.3s ease-in-out;
  }
}

.errorModal__content {
  max-width: 540px;
  min-width: 300px;
  background: rgb(40,42,41);
  background: linear-gradient(0deg, #282a29 20%, #d81035 50%, #282a29 80%);
  border-radius: 2px;
  color: #fa5f5f;
  font-weight: bold;
  font-size: 1.7rem;
  border-radius: 3px;
  padding: 30px;
  text-align: center;
  box-shadow: 10px 10px 10px #000;
  animation: error-content-top 0.5s ease;

  &_inactive {
    animation: error-content-bottom 0.3s ease-in-out;
  }
}

.errorModal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  outline: none;
  border: none;
  font-size: 3rem;
  color: rgb(170, 168, 168);
}

.errorModal__text {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(11, 10, 12);
  border-radius: 2px;
  padding: 20px;
  box-shadow: 10px 10px 10px #000;
  
  i {
    margin-right: 10px;
    font-size: 3rem;
  }
}

@keyframes error-modal-anim {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes error-modal-temp {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes error-content-top {
  0%{
    transform: translateY(-50px);
    opacity: 0;
  }
  100%{
    transform: translateY();
    opacity: 1;
  }
}

@keyframes error-content-bottom {
  0%{
    transform: translateY(0px);
    opacity: 1;
  }
  100%{
    transform: translateY(-50px);
    opacity: 0;
  }
}