.admin-article {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-basis: calc((100% / 3) - 10px);
  // flex-basis: calc((100% / 2) - 20px);
  // flex-basis: 100%;
  background: #0f0f0f;
  height: 230px;
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 15px 10px #0a0a0a;
  animation: transparency-animation 0.5s ease;
  animation: elem-top-to-down 0.7s ease;

  &:hover {
    .admin-article__title {
      margin-bottom: 0;
      opacity: 1;
    }
  }

  .universal-loader {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

    &:after {
      border-width: 4px;
    }
  }
}

.admin-article__load {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 3;

  &_hide {
    animation: back-transparency-animation 0.7s ease;
  }
}

.admin-article__pic {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  height: 100%;
  box-shadow: 0 0 15px 18px rgb(41, 41, 41);

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.3) 35%, rgba(12, 114, 89, 0.3) 100%);
  }
}


.admin-article__img {
  max-width: 100%;
  height: auto;
  animation: transparency-animation 1s ease;
}

.admin-article__time {
  position: absolute;
  top: 0;
  width: 100%;
  min-width: 250px;
  text-align: center;
  padding: 5px;
  color: #86ea86;
  background: #0f0f0fb9;
}

.admin-article__delete {
  position: absolute;
  top: 0;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  background: rgb(62, 62, 63);
  border-radius: 7px 0 7px 0;
  cursor: pointer;
  box-shadow: 0 0 2px 2px #252525;
  transition: all 0.3s ease;

  i {
    z-index: 1;
    font-size: 1.3rem;
    color: rgb(248, 152, 152);
  }

  &:active {

    i {
      font-size: 1rem;
    }
    &:after {
      box-shadow: 0 0 1px 1px rgb(41, 40, 40) inset;
    }
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8.5px;
    margin-left: -8.5px;
    width: 17px;
    height: 17px;
    background: rgb(84, 84, 85);
    border-radius: 2px;
    box-shadow: 0 0 3px 3px rgb(41, 40, 40);
    transition: all 0.3s ease;
  }
}

.admin-article__buttons {
  display: flex;
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.article-btn {
  padding: 5px 15px;
  font-weight: bold;
  color: #444;
  background-color: rgb(206, 206, 206);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.1s linear;
  margin-right: 5px;
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }

  &:active {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transform: translate(1.5px, 1.5px);
  }
}

.admin-article__title {
  text-align: center;
  width: 100%;
  padding: 5px;
  font-size: 1.7rem;
  background: #000000ba;
  color: #b7b9b7;
  line-height: 1;
  font-family: 'Poppins';
  box-shadow: 0 -13px 9px 4px #000000ba;
  margin-bottom: -100px;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 1;
}