@use "../../../../sass/abstracts";

.matches {
  width: 100%;
  border-radius: 2px;
  color: #cfcccc;
  @extend %transition;
  background: #17181b;
  padding-bottom: 30px;
}

.notification {
  text-align: center;
  font-size: 1.8rem;
}

.matches-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 2rem;

  &_active {
    & .matches-count {
      display: inline-block;
      transform: translateY(0%);
      animation: count-show 0.7s ease;
    }
  }

  & div:nth-child(1) {
    span {
      font-weight: bold;
    }
  }
  
  & div:nth-child(2) {
    border-bottom: 1px solid #fff;
    margin-left: 2px;
    margin-right: 2px;
  }

  & div:nth-child(3) {
    position: relative;
    background: red;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 3.5rem;
    background: #1b2b27;
    background: linear-gradient(90deg, #0e111096 10%, #1b2b27 70%, #0e111096 100%);
    overflow: hidden;

    .matches-count {
      display: inline-block;
      @extend %transition;
    }
  }
}

.matches-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  min-height: 100px;
  background: transparent;
  @extend %transition;

  &_inactive {
    opacity: 0.1;
  }

  & >* {
    flex-basis: 100%;
  }
}

.match {
  position: relative;
  cursor: pointer;
  height: 91px;
  overflow: hidden;
  padding: 5px 0;
  border-top: 1px solid rgb(39, 39, 39);
  border-bottom: 1px solid rgb(39, 39, 39);
  background: rgb(21, 24, 23);
  background: linear-gradient(90deg, #0e111096 10%, #1b2b27 50%, #0e111096 90%);
  margin-bottom: 10px;
  z-index: 2;

  &_active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    padding-top: 20px;
    background: linear-gradient(90deg, #0e1110f3 10%, #101f1b 50%, #0e1110f3 90%);
    cursor: auto;
    animation: match-active 0.5s ease;
    overflow-y: auto;

    .match__date {
      font-size: 3rem;
    }

    .match__rivals {
      padding: 10px;
      margin-bottom: 20px;
      background: #0e1110f3;
    }

    .away-team, .home-team {
      font-size: 2.5rem;
    }

    .match__competition {
      font-size: 1.9rem;
    }
  }

  &:last-child {
    margin-bottom: 0;
    &:after {
      display: none;
    }
  }

  &:last-child {
    border-top: none;
    border-bottom: none;
  }
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 30px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: 5px;
  background: rgb(43, 58, 54);
  border-radius: 3px;
  font-size: 2rem;
  text-transform: uppercase;
  cursor: pointer;
  display: none;
  z-index: 5;
  @extend %transition;

  &_visible {
    display: flex;
  }
}

.short-match-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.match__date {
  width: 100%;
  font-weight: bold;
  text-align: center;
}

.home-team,
.away-team {
  font-size: 2rem;
  text-align: center;
}

.match__rivals {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  &>* {
    flex-basis: 100%;
  }
}

.match__score {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 3px;
  margin: 3px;
  @extend %transition;

  & span {
    display: inline-flex;
    border: 2px solid rgb(82, 95, 82);
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    background: linear-gradient(90deg, #1c413196 10%, #1e1e21 50%, #1c413196 90%,);

    &:first-child {
      margin-right: 5px;
    }
    &:last-child {
      margin-left: 5px;
    }
  }
}

.match__competition {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.match__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.3rem;
  font-weight: bold;

  > * {
    width: 100%;
    text-align: center;
  }
}

.matchday, .half-time, .full-time, .extra-time, .penalties {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  background: #113025;
  padding: 5px 0;
  width: 250px;
  border-top: 1px solid rgb(93, 94, 94);
  border-bottom: 1px solid rgb(93, 94, 94);

  span {
    margin: 0 10px;
    display: inline-flex;
    border: 2px solid #525f57;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    background: linear-gradient(90deg, #1c413196 10%, #1e1e21 50%, #1c413196 90%);
  }
}

.matchday {
  justify-content: center;
  margin: 10px 0;
}

.referees-title {
  text-align: center;
  margin-bottom: 10px;
}

.referees {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
  // max-width: 600px;
  background: #0e1110f3;
  padding: 20px 10px;
  z-index: 2;
  border-radius: 5px;
}


.referee {
  display: flex;
  font-size: 1.7rem;
  margin-bottom: 10px;
  padding: 0 15px;
}

.referee__name, .referee__role, .referee__nationality {
  padding: 5px;
}

.referee__name {
  text-align: left;
  font-size: 1.8rem;
}

.referee__role {
  text-transform: lowercase;
}

@keyframes count-show {
  0% {
    transform: translateY(-110%);
  }
  100% {
    transform: translateY(0%);
  }
}


@keyframes match-active {
  0% {
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  100% {
    height: 100vh;
    opacity: 1;
    overflow-y: auto;
  }
}