@use "../../../../sass/abstracts";

.matches {
  width: 100%;
  border-radius: 2px;
  color: #cfcccc;
  @extend %transition;
  background: #17181b;
  padding-bottom: 30px;
}

.notification {
  text-align: center;
  font-size: 1.8rem;
}

.matches-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  min-height: 100px;
  background: transparent;
  @extend %transition;

  &_inactive {
    opacity: 0.1;
  }

  & >* {
    flex-basis: 100%;
  }
}

.match {
  position: relative;
  cursor: pointer;
  padding: 5px 0;
  border-top: 1px solid rgb(39, 39, 39);
  border-bottom: 1px solid rgb(39, 39, 39);
  background: rgb(21, 24, 23);
  background: linear-gradient(90deg, #0e111096 10%, #1b2b27 50%, #0e111096 90%);
  margin-bottom: 20px;
  z-index: 2;
  @extend %transition;

  &:last-child {
    margin-bottom: 0;
    &:after {
      display: none;
    }
  }

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 101%;
    width: 1px;
    background: rgb(56, 56, 56);
    height: 25px;
    z-index: 1;

  }

  &:last-child {
    border-bottom: none;
  }
}

.short-match-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.match__date {
  width: 100%;
  font-weight: bold;
  text-align: center;
}

.home-team,
.away-team {
  font-size: 2rem;
  text-align: center;
}

.match__rivals {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  &>* {
    flex-basis: 100%;
  }
}

.match__score {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 3px;
  margin: 3px;
  @extend %transition;

  & span {
    display: inline-flex;
    border: 2px solid rgb(82, 95, 82);
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    background: linear-gradient(90deg, #1c413196 10%, #1e1e21 50%, #1c413196 90%,);

    &:first-child {
      margin-right: 5px;
    }
    &:last-child {
      margin-left: 5px;
    }
  }
}

.match__competition {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}