.admin__sidebar {
  position: relative;
  width: 280px;
  height: 100%;
  background: rgb(116, 120, 121);
  background: linear-gradient(320deg, rgba(42,54,56,1) 30%, rgb(28, 33, 34) 70%, rgba(42,54,56,1) 20%, rgb(21, 23, 24) 70%, rgb(28, 33, 34) 10%);
  -webkit-box-shadow: 10px 0px 10px -3px rgba(15, 15, 15, 0.75);
  -moz-box-shadow: 10px 0px 10px -3px rgba(15, 15, 15, 0.75);
  box-shadow: 10px 0px 10px -3px rgba(15, 15, 15, 0.75);
  transition: all 0.5s ease-in-out;

  &_hide {
    width: 50px;
    overflow: hidden;

    .admin__name {      
      span {
        opacity: 0;
        max-width: 0px;
        margin-left: 100px;
      }
    }

    .admin__elem-text {
      opacity: 0;
      max-width: 0px;
      margin-left: 100px;
    }

    .toggle-sidebar {
      padding-right: 20px;
    }

    .toggle-sidebar-icon {
      transform: rotate(180deg);
    }
  }
}

.toggle-sidebar {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 10px 15px;
  cursor: pointer;
}

.toggle-sidebar-icon {
  transition: all 0.3s ease-in-out;
  font-size: 2rem;
}

.admin__name {
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid rgb(53, 53, 53);
  border-bottom: 1px solid rgb(53, 53, 53);
  padding: 10px 5px;

  span {
    display: inline-block;
    text-align: left;
    color: rgb(206, 207, 207);
    display: inline-block;
    border-radius: 2px;
    min-width: 210px;
    max-width: 210px;
    transition: all 0.5s ease-in-out;
  }
}

.admin__icon {
  font-size: 2rem;
  padding: 0 7px 0 10px;
  background: linear-gradient(45deg, rgb(228, 228, 228) 5%, rgb(4, 148, 52) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.admin__elems {
  display: flex;
  flex-direction: column;
}

.admin__elem {
  position: relative;
  width: 100%;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  color: #cecfcf;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background: #161618;
  }
}

.admin__elem-wrap {
  min-width: 42px;
  max-width: 42px;
  display: flex;
  justify-content: center;
}

.admin__elem-icon {
  font-size: 2rem;
  padding: 0 10px;
}

.admin__elem-text {
  display: inline-flex;
  min-width: 210px;
  max-width: 100%;
  transition: all 0.5s ease-in-out;
}