@import "../../../../index.scss";

.epl {
  height: 100vh;
}

.players  {
  position: absolute;
  top: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  & >* {
    flex-basis: 50%;

    @include big-desktop {
      flex-basis: 22%;
    }
  }
}

.player {
  &:nth-child(1) {
    text-align: left;
  }
  
  &:nth-child(2) {
    text-align: right;
  }
}

.player img {
  max-width: 100%;
  height: auto;
}