@use "../../../sass/abstracts" as *;


.league-template {
  position: relative;
  animation: opacity-display 0.7s ease;
  z-index: 1;
}

// LeagueTable
.table-league-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding-bottom: 50px;
  @extend %transition;
}

.table-title {
  position: relative;
  text-align: center;
  padding-bottom: 10px;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #cecdcd;
  z-index: 1;
}

.league-table {
  flex-basis: 60%;
  font-family: 'Poppins', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: rgb(197, 193, 193);
  border-radius: 5px;
  margin-right: 10px;
  overflow: hidden;
  flex-basis: 60%;
  box-shadow: 0 10px 10px #0f0f0f;
  @extend %transition;
}

.table-description {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
}

.table-head {
  color: rgb(153, 155, 153);

  &:first-child {
    background: none;
  }
}

.table-body {
  color: rgb(153, 155, 153);
}


.table-tr {
  color: rgb(173, 173, 173);
  @extend %transition;

  &:nth-child(1n) {
    background: #151716;
  }

  &:nth-child(2n) {
    background:#222323;
  }
}

.table-tr-inactive {
  box-shadow: none;
}

.table-th {
  font-size: 1.5rem;
  padding: 5px 3px;
  background: linear-gradient(180deg, rgba(56, 55, 55, 0.5) 50%, rgba(15, 15, 15, 0.5) 50%, rgba(48, 47, 47, 0.5) 100%);
}

.table-th-search {
  position: relative;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

.table-td {
  text-align: center;
  font-size: 1.4rem;

  &:first-child{
    font-weight: bold;
    background: rgb(26, 25, 25);
    border-bottom: 1px solid rgb(44, 43, 43);
  }
}

.checked-club {
  color: rgb(98, 197, 111);
  i {
    animation: checked-club 0.5s ease;
  }
}

.toggle-club {
  font-size: 2.5rem;
  cursor: pointer;
  color: rgb(159, 161, 159);
  @extend %transition;

  & i {
    @extend %transition;
  }

  &:hover {
    i {
      color: rgb(97, 156, 105);
    }
  }
}

.flag {
  border-radius: 2px;
  opacity: 0.8;
  max-width: 30px;
  height: auto;
}

.table-td-active {
  padding: 0;
  display: inline-flex;
  position: relative;
  align-items: center;
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 0;
  width: 100%;

  & a {
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding: 5px;
    color: rgb(173, 173, 173);

    &.table-player {
      justify-content: center;
    }
  }

  &:before {
    content: '';
    position: absolute;
    display: inline-block;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    box-shadow: 0px -20px 20px rgba(70, 138, 75, 0.37) inset;
    transition: left 0.5s ease;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: -1;
  }

  &:hover {
    &:before {
      text-decoration: underline;
      left: 0;
    }
  }
}

.has-logo {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
}

.td-logo {
  max-width: 100%;
  height: auto;
}

// OverviewLeagueCard
.overview-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  color: #d8d4d4;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 5px;
  box-shadow: 0 5px 5px #181818;
}

.overview-league {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: rgb(15,15,15);
  background: linear-gradient(47deg, rgba(15,15,15,0.2) 30%, rgba(49, 134, 66, 0.5) 100%);
}

.overview-pic {
  width: 170px;
  height: 170px;
  margin-bottom: 20px;
}

.overview-img {
  max-width: 100%;
  opacity: 0.7;
}

.overview-country {
  text-align: center;
  font-size: 2.1rem;
  text-transform: uppercase;
  text-shadow: 0 0 5px #fff;
}

.overview-info {
  width: 100%;
  padding: 20px;
  font-family: 'Roboto';
}

.overview-card__text {
  padding: 0px 5px;
  font-size: 3rem;
  margin-bottom: 5px;
}

.overview-card__name,
.overview-card__stage,
.start-date,
.finish-date,
.current-matchday,
.winner {
  font-size: 1.5rem;
  letter-spacing: 1px;
  background: rgba(36, 44, 41, 0.7);
  margin-bottom: 7px;
  padding: 5px;
  border-radius: 3px;

   & span:first-child  {
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: uppercase;
    display: inline-block;
    width: 115px;
    background: rgba(0, 0, 0, 0.26);
    padding: 3px;
    margin-right: 10px;
    border-radius: 3px;
   }
}


@keyframes opacity-display {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes checked-club {
  0% {
    transform: scale(1);
    color: #9fa19f;
  }
  50% {
    transform: scale(2.3);
    color: #9fa19f;
  }
  100% {
    transform: scale(1);
    color: rgb(98, 197, 111);
  }
}