.task {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 60px;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(8, 8, 8, 1);
  background-image: url(../../../assets/images/webbg.png);
  z-index: 10;
  animation: task-success 0.5s ease;

  &_inactive {
    animation: task-inactive 0.5s ease;
  }
}

.task__close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  outline: none;
  border: none;
  font-size: 3rem;
  color: rgb(170, 168, 168);
}

.task__content {
  max-width: 450px;
  min-width: 300px;
  background: rgb(40,42,41);
  background: linear-gradient(0deg, #282a29 20%, #31993e 50%, #282a29 80%);
  border-radius: 2px;
  color: #3dcf51;
  font-weight: bold;
  font-size: 1.7rem;
  border-radius: 3px;
  padding: 30px;
  text-align: center;
  box-shadow: 10px 10px 10px #000;
  animation: task-content-success 0.5s ease;
  
  &_inactive {
    animation: task-content-inactive 0.5s ease;
  }
}

.task__text {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(11, 10, 12);
  border-radius: 2px;
  padding: 20px;
  box-shadow: 10px 10px 10px #000;
}

.task__icon {
  margin-right: 20px;
  font-size: 3rem;
}

@keyframes task-success {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes task-inactive {
  0% {
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes task-content-success {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes task-content-inactive {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}