@use "../../../sass/abstracts";

.admin {
  padding-top: 60px;
  display: flex;
  font-family: 'Roboto';
  flex-direction: row;
  background: url(../../../assets/images/bg.png) rgb(15, 15, 15);
  background-repeat: no-repeat;
}

// Admin content
.admin__content {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}


// Form contro block
.form-control {
  position: absolute;
  width: 100%;
  min-height: 100%;
  padding: 0 20px;
  // top: -200%;
  top: 0;
  transition: all 0.7s ease-in-out;

  // &_visible {
  //   top: 0;
  // }
}