@use "../../../sass/abstracts";

.admin-wrap {
  padding-top: 70px;
}

.admin {
  padding-top: 60px;
  display: flex;
  font-family: 'Roboto';
  flex-direction: row;
  background: url(../../../assets/images/adminBg.png) #17181b;
  background-repeat: no-repeat;

  .app-loading {
    z-index: 4;
  }
}

// Admin content
.admin__content {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  margin-left: 17px;
}

.admin-info {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  animation: transparency-animation 0.7s ease;
}

.admin-info__screen {
  position: relative;
  align-self: start;
  max-width: 800px;
  margin: 20px;
  margin-top: 35px;
  animation: transparency-animation 0.7s ease;
}

.screen-toggle {
  position: absolute;
  bottom: 115px;
  right: 325px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    border: 1px solid rgb(118, 119, 118);
  }

  &:active {
    padding: 3px;
  }

  &_active {
    box-shadow: 0 0 2px 3px rgb(86, 223, 86);
  }
}

.app-loading {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 3;
  animation: transparency-animation 0.5s ease;

  .universal-loader {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// Form control block, Admin articles
.form-control, .admin-articles {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  max-height: 0;
  top: -100%;
  transition: all 0.7s cubic-bezier(0.215, 0.610, 0.355, 1);
  z-index: -1;
  opacity: 0;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-color: transparent transparent;

  &::-webkit-scrollbar {
    background-color: transparent;
  }
  
  &_visible {
    top: 0%;
    z-index: 1;
    opacity: 1;
    overflow: inherit;
    overflow-y: scroll;
    scrollbar-color: transparent transparent;
  }
}

.form-control {
  align-items: flex-start;
}

